
<section>
<div class="container">
   <!--SIGNUP FORM-->
   <form id=contact name="signUpform" [formGroup]=signUpForm (submit)="signupCustomer()" novalidate
      class="feedback-form">
      <h2><label for="name">Sign Up</label></h2>
      <div *ngIf="response" class="alert alert-danger">
         {{response.error}}
      </div>
       <!--USERNAME FIELD-->
      <fieldset>
         <div>
            <div class="form-group">
               <label for="name">Username</label>
               <input type="text" id="username" tabindex="2" class="form-control" name="username"
                  (blur)="logValidationErrors(signUpForm)" placeholder="Your username" formControlName="username"
                  required [ngClass]="{'is-invalid':signUpFormErrors.username}" />
               <small *ngIf="signUpFormErrors.username" class="invalid-feedback">
                  {{signUpFormErrors.username}}
               </small>
            </div>
         </div>
      </fieldset>
       <!--EMAIL-ID FIELD-->
      <fieldset>
         <div class="form-group">
            <label for="emailid">Email-ID</label>
            <input type="email" id="emailId" tabindex="2" class="form-control" name="emailId" placeholder="Your email-ID"
               formControlName="emailId" (blur)="logValidationErrors(signUpForm)"
               [ngClass]="{'is-invalid':signUpFormErrors.emailId}" required />
            <small *ngIf="signUpFormErrors.emailId" class="invalid-feedback">
               {{signUpFormErrors.emailId}}
            </small>
         </div>
      </fieldset>

     
      
      <div formGroupName="passwordGroup">
         <!--PASSWORD FIELD-->
      <fieldset>
         <div class="form-group">
            <label for="password">Password</label>
            <i class="fa fa-fw fa-info-circle" title="
                 -Atleast 8 characters.
                 -Atleast one lowercase letter.
                 -Atleast one uppercase letter.
                 -Atleast one digit.
                 -Atleast one special character." aria-hidden="true"></i>
            <div class="input-group">
               <input  type="password" tabindex="2" #displayPassword id="passwordr" class="form-control" name="passwordr"
                  placeholder="Your password" formControlName="password" (blur)="logValidationErrors(signUpForm)"
                  [ngClass]="{'is-invalid': signUpFormErrors.password }" required />
               <div class="input-group-append" (click)="utility_Service.showPassword(displayPassword, 1)">
                  <span class="input-group-text"> <i [ngClass]="toggle1 ? 'fa fa-eye' : 'fa fa-eye-slash'"
                        aria-hidden="true"></i>
                  </span>
               </div>
               <small *ngIf="signUpFormErrors.password" class="invalid-feedback">
                  {{signUpFormErrors.password}}
               </small>
            </div>

         </div>
      </fieldset>
      <!--CONFIRM-PASSWORD FIELD-->
      
      <fieldset>
         <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <div class="input-group">
               <input  tabindex="2" type="password" #displayCpassword id="repassword" class="form-control"
                  name="repassword" placeholder="Retype your password" formControlName="confirm_password"
                  [ngClass]="{'is-invalid':signUpFormErrors.confirm_password  || signUpFormErrors.passwordGroup}" (blur)="logValidationErrors(signUpForm)"
                  required />
               <div class="input-group-append" (click)="utility_Service.showPassword(displayCpassword, 2)">
                  <span class="input-group-text"> <i [ngClass]="toggle2 ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
                  </span>
               </div>
               <small *ngIf="signUpFormErrors.confirm_password || signUpFormErrors.passwordGroup " class="invalid-feedback">
                  {{signUpFormErrors.confirm_password ? signUpFormErrors.confirm_password : signUpFormErrors.passwordGroup}}
               </small>
            </div>
         </div>
      </fieldset>
   </div>
      <div>
         Already have an account?
        <b><a routerLink="/login">SignIn</a></b>
      </div>
      <div class="row">
         <div class="col-sm-6">
           <fieldset>
             <button name="submit" type="submit" class="btn btn-info" id="contact-submit" [disabled]="!signUpForm.valid">Submit</button>
           </fieldset>
         </div>
       </div>
        </form>
</div>
</section>