<header>
        <nav>

            <div class="row">
                  <img src="../../assets/hello.png" class="logo" alt="Logo">
             <ul class="main-nav">
                  <li>
                      <a *ngIf="!loginService.isUserLoggedIn()" routerLink="/wdwdo">What do we do</a>
                  </li>
                  <li>
                      <a  *ngIf="!loginService.isUserLoggedIn()" routerLink="/loginsignup">Join Our Community</a>
                 </li>
                  <li>
                   <a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login">Login</a>
                 </li>
                <li>
                  <a  *ngIf="loginService.isUserLoggedIn()" routerLink="/myProfile">Profile</a>
                </li>
                <li>
                    <a  *ngIf="loginService.isUserLoggedIn()" routerLink="/messages">Messages</a>
                </li>
                <li>
                    <a  *ngIf="loginService.isUserLoggedIn()" 
                    (click)="logout()" routerLink="/logout">Logout</a>
                </li>
             </ul>
            </div>
         </nav>
    </header>
    