.row
{

    max-width: 1140px;
    margin: 0 auto;
}
header
{
    background-color: black;
    background-position: center;
    background-size: cover;
    height: 13vh;
    background-attachment: fixed;

}


/*----Headings-----------------------*/
h1,h2,h3
{

    text-transform: uppercase;
    font-weight: 300;
    


}
h1
{
    color: #fff;
    font-size: 150%;
    word-spacing: 3px;
    font-family:Gadget, sans-serif

}


h1 {
    font-family: 'Comic Sans MS', 'cursive', 'sans-serif';
    font-size: 30px;
    font-weight: 300; color:goldenrod;
}


/*--------------------------------*/
/*----------Navigation------------*/
/*--------------------------------*/
.main-nav
{
    list-style: none;
    margin-top: 30px;
    margin-left: auto ;
    margin-right: 30px;
    margin-bottom: 0px;

}
.main-nav li
{
    display: inline-block;
    margin-left: 40px;


}
.main-nav li a:link,
.main-nav li a:visited
{
    padding: 8px 0;
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    word-spacing: 2px;
    font-size: 15px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active
{
    border-bottom: 2px solid orange;
    color:orange;

}

.logo
{
    height: 100px;
    width:auto;
    float: left;
    border-radius: 70px;


}



