

section {
	
	background-color: black;
	background-position: center;
	background-size: cover;
	height : 70 vh;
	
	
	
}
#section3 {
	background-color: black;
	background-position: center;
	background-size: cover;
	height : 70 vh;
	background-attachment: fixed;
	
	
}


.container {
    z-index:-100;
	padding: 40px;	
}
img {
	border-radius: 25px;
	height:400px; 
	width:1060px;
}

#imgGit {
	height:200px;
	width:200px;
	border-radius: 50%;

}

h2 {
	color:black;
}

p {
	color:black;
}