/*Big tablets to 1200 : from 768px to 1023px*/
@media only screen and (max-width: 1200px)
{
    
}


/*small tablets to big tablets : from 768px to 1023px*/
@media only screen and (max-width: 1023px)
{
    
}


/*small phones : from 0 to 767px: width of the ipads/tablets from 481px tp 767px*/
@media only screen and (max-width: 767px)
{
    
}

/*small phones : from 0 to 480px: width of small iphones and phones */
@media only screen and (max-width: 480px)
{
    
}