<!doctype html>
<html lang="en">
         <head>
         <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400&display=swap" rel="stylesheet">
         <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
         <title>Wilkommen zu Heilbronn!</title>
         </head>
         <body>
            <header>
                <nav>
                        
                    <div class="row">
                            <img src="./../../assets/horse.JPG" class="logo"> 
                            <a href="/"><h1 style="font-family: 'Comic Sans MS', 'cursive', 'sans-serif';
                              font-size: 30px;
                              font-weight: 300; color:goldenrod" class="logo">ERUDITE MINDS</h1></a>
                       <ul class="main-nav" style="text-align: right;">
                      
                           
                          <li><a routerLink="/wdwdo" style="font-size: 20px;">What do we do</a></li>
                          <li><a href="#" style="font-size: 20px;">Tutorials</a></li>
                          <li class="nav-item active">
                           <a  style="font-size: 20px;" class="nav-link" routerLink="/loginsignup" routerLinkActive="active">SignUp</a>
                         </li>
                       </ul>
                    </div>
                 </nav>
            </header>
            <router-outlet #outlet="outlet"></router-outlet>
  
         </body>
</html> 
