<!doctype html>
<html lang="en">
<head>
  <title>Erudite Minds!</title>
</head>
  <body>
  <header>
    <nav>
        <div class="row">
           <img src="resources/images/logo.png" class="logo" alt="Logo">
           <ul class="main-nav">
            <li><a href="#">What do we do?</a></li>
            <li><a href="#">Join our Community</a></li>
            <li><a class="nav-link" routerLink="/loginsignup" routerLinkActive="active">SignIn</a>
            </li>
           </ul>
        </div>
     </nav>
   <div class="top-text">
     <h1>Welcome to the world of Fourlegged!</h1>
     <a class="btn btn-full" href="#">Blog</a>
     <a class="btn btn-ghost" href="#">Discover</a>
   </div>
</header>
  <router-outlet #outlet="outlet"></router-outlet>
  <footer>
    <div class="row">
      <div class="col span-1-of-2">
        <ul class="footer-row">
          <li><a href="#">About Us</a></li>
        </ul>
      </div>
      <div class="col span-1-of-2">
        <ul class="social-links">
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <p>
        Copyright &copy; 2020 by EruditeMinds. All rights reserved
      </p>
    </div>
  </footer>
</body>
</html>